.data-types-container {
  margin: 1em;
  max-width: 100%;
}

.data-types {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.data-type {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 250px;
  gap: 5px;
  margin: 0.5em;
}

.data-type p {
  margin: 0;
}

.type-property {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.pull-right {
  text-align: right;
}

.new-data-type {
  max-width: 300px;
}

.field-container {
  display: flex;
  justify-content: space-between;
}
